{% extends 'base.html' %}

{% block title %}
<title>Product List</title>
<style>
    img {
        height: 100px;
        width: 100px;
    }

    .container {
        display: flex;
        flex-wrap: nowrap;
    }

    .card {
        width: 220px;
        padding: 0px;

        margin: 10px;
    }
</style>
{% endblock %}

{% block body_block %}
<h2>Products</h2>
<ul>

    <li>
        <div class="container">
            {% for product in products %}
            <div class="card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }}</p>
                    <p>{{product.count}}</p>

                    <form method="POST" action="{% url 'cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Add to Cart</button>
                    </form>
                    <form method="POST" action="{% url 'checkout' %}">
                        {% csrf_token %}


                        <input type="hidden" name="product_id" value="{{ product.id }}">

                        {% if product.count > 0 %}
                        <button type="submit">Buy Now</button>
                        {% else %}
                        out of stock
                        {% endif %}
                    </form>
                </a>
            </div>
            {% endfor %}
        </div>
    </li>

</ul>
{% endblock %}